{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.status %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Status") }}</th>
      <td class="dataset-details">{{ pkg_dict.status[0] }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.iso_topic_category %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Iso Topic Category") }}</th>
      <td class="dataset-details">{{ h.iso_topic_categories()[pkg_dict.iso_topic_category[0]].name }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.archived_at %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Archived at") }}</th>
      <td class="dataset-details">{{ pkg_dict.archived_at }}</td>
    </tr>
  {% endif %}
{% endblock %}
