{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
  {% block custom_fields %}
  {% endblock %}
#}

{% block package_metadata_fields %}

  <div class="control-group form-group">
    <label class="control-label" for="field-status">{{ _("Status") }}</label>
    <div class="controls">
      <select id="field-status" name="status" data-module="autocomplete">
        {% for option in h.status()  %}
          <option value="{{ option }}" {% if option in data.get('status', []) %}selected="selected"{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ super() }}
{% endblock %}

