{% set resources = pkg.resources or [] %}
{% if resources %}
  {% block resources %}
    <section class="module module-narrow resources">
      {% block resources_inner %}
        {% block resources_title %}
          <h2 class="module-heading"><i class="fa fa-image"></i> {{ _("Preview") }}</h2>
        {% endblock %}
        {% block resources_list %}
          <ul class="list-unstyled nav nav-simple">
            {% for resource in resources %}
              {% if resource.format == "JPEG" or resource.format == "PNG" %}
                <li class="nav-item{{ ' active' if active == resource.id }}">
                  <a href="{{ resource.url }}" target="_blank">
                    <img src="{{resource.url}}" width="280" />
                  </a>

                </li>
                {% break %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endblock %}
      {% endblock %}
    </section>
  {% endblock %}
{% endif %}