{% set groups = h.get_featured_groups(count=2) %}

{% for group in groups %}
  <div class="box">
    <section class="group-list module module-narrow module-shallow">
      <header class="module-heading">
        {% set truncate=truncate or 0 %}
        {% set truncate_title = truncate_title or 0 %}
        {% set title = group.title or group.name %}
        <a class="module-image" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
          <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
        </a>
        <h3 class="media-heading"><a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">{{ group.title or group.name }}</a></h3>
        {% if group.description %}
          {% if truncate == 0 %}
            <p>{{ h.markdown_extract(group.description)|urlize }}</p>
          {% else %}
            <p>{{ h.markdown_extract(group.description, truncate)|urlize }}</p>
          {% endif %}
        {% endif %}
      </header>
    </section>
  </div>
{% endfor %}
