{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
      <h2 class="page-heading">{{ _("Related Sites") }}</h2>
      <p>
        {% trans %}  <a class="media-image" href="{{ http://www.arcticatlas.org/ }}" target="_blank">
          <img class="imgLeft" src="{{ h.url_for_static('/base/images/tagaLogo.jpg') }}" alt="Toolik-Arctic Geobotanical Atlas logo" width="100" height="100" />
        </a>The <a href="{{ http://www.arcticatlas.org/ }}" target="_blank">Toolik-Arctic Geobotanical Atlas (TAGA)</a> is a web-based multi-scale collection of geobotanical maps and related material. It includes maps at seven different scales, from 1-m2 plots to the entire Arctic. The TAGA focuses on research sites at the Toolik Field Station and Imnavait Creek, Alaska, but also covers the Kuparuk River Basin, northern Alaska, Arctic Alaska, and the Circumpolar Arctic. Geobotanical map themes include geology, topography landforms, surficial geomorphology, soils, and vegetation. The maps and website were developed at the <a href="{{ https://www.geobotany.uaf.edu/ }}" target="_blank">Alaska Geobotany Center</a> in collaboration with other groups at the University of Alaska Fairbanks.
        {% endtrans %}
      </p>
  </header>
</div>