<div class="module-content box">
  <header>
      <h2 class="page-heading">{{ _("Alaska Arctic Vegetation Archive") }}</h2>
        <p>{% trans %}
	  The <a href="{{ /group/all-vegetation-plot-data/ }}">Vegetation Plot Archive</a> contains vegetation plot data, associated environmental data, and other related information from over 3,000 plots in Arctic Alaska. The archive uses <a href="{{ http://www.synbiosys.alterra.nl/turboveg/ }}">Turboveg for Windows</a> (Hennekens and Schaminee 2001), a comprehensive data management system for vegetation plot data. It serves as a prototype for the Arctic Vegetation Archive (AVA). The goal of the AVA is to unite and harmonize the vegetation data from the Arctic tundra biome for use in developing a pan-Arctic vegetation classification and to facilitate research on vegetation and biodiversity change and ecosystem models. This open-access database will be the first to represent an entire global biome. 
        {% endtrans %}
      </p>
  </header>
</div>